extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | Hostel Explorer was created to help you find places to stay near to your work or study place.
 | <br /><br />
 | Let Hostel Explorer help you find the place you're looking for.